[submodule "source/Services/Auth"]
	path = source/Services/Auth
	url = https://github.com/AlbusaOxyuranus/o2-auth.git
[submodule "source/Services/Certificates"]
	path = source/Services/Certificates
	url = https://github.com/AlbusaOxyuranus/o2-certificates.git
[submodule "source/Mobile/app-pfr-center-global"]
	path = source/Mobile/app-pfr-center-global
	url = https://github.com/AlbusaOxyuranus/pfr-center-global.git
[submodule "source/Web/o2bionics"]
	path = source/Web/o2bionics
	url = https://github.com/AlbusaOxyuranus/o2bionics.git
[submodule "source/Mobile/app-2bionics"]
	path = source/Mobile/app-2bionics
	url = https://github.com/AlbusaOxyuranus/o2bionics-app.git
