[submodule "source/Services/Auth"]
	path = source/Services/Auth
	url = https://github.com/AlbusaOxyuranus/o2-auth.git
[submodule "source/Services/Certificates"]
	path = source/Services/Certificates
	url = https://github.com/AlbusaOxyuranus/o2-certificates.git
[submodule "source/Mobile/app-pfr-center-global"]
	path = source/Mobile/app-pfr-center-global
	url = https://github.com/AlbusaOxyuranus/pfr-center-global.git
[submodule "source/Web/o2bionics"]
	path = source/Web/o2bionics
	url = https://github.com/AlbusaOxyuranus/o2bionics.git
[submodule "source/Mobile/app-2bionics"]
	path = source/Mobile/app-2bionics
	url = https://github.com/AlbusaOxyuranus/o2bionics-app.git
[submodule "source/Web/hypnosdoma"]
	path = source/Web/hypnosdoma
	url = https://github.com/AlbusaOxyuranus/hypnosdoma.git
[submodule "source/Web/o2-business"]
	path = source/Web/o2-business
	url = https://github.com/AlbusaOxyuranus/o2-business.git
[submodule "source/Mobile/app-o2-business"]
	path = source/Mobile/app-o2-business
	url = https://github.com/AlbusaOxyuranus/o2-business-app.git
[submodule "source/Web/o2-chat"]
	path = source/Web/o2-chat
	url = https://github.com/AlbusaOxyuranus/o2-chat.git
[submodule "source/Mobile/app-o2-chat"]
	path = source/Mobile/app-o2-chat
	url = https://github.com/AlbusaOxyuranus/o2-chat-app.git
[submodule "source/Web/pfr-centr"]
	path = source/Web/pfr-centr
	url = https://github.com/AlbusaOxyuranus/pfr-centr.git
[submodule "source/Services/Catalog"]
	path = source/Services/Catalog
	url = https://github.com/AlbusaOxyuranus/o2-catalog.git
